<div class="hotel-item">
    <h2>{{ item.name }}</h2>

    <div class="hotel-item-row">

        <div class="row">

            <div class="col-md-8">
                {{ item.description }}
            </div>

            <div class="col-md-4">
                <img style="max-width: 100%" src="{{ item.image }}">
            </div>

        </div>

    </div>

</div>