<div class="hotel-result">

    <i class="remove-circle fa fa-minus-square"></i>

    {% for item in items %}
        {{ include('TrivagoHackathonBundle:Default:hotel_result.html.twig') }}
    {% endfor %}
</div>

