{% extends "::base.html.twig" %}
{% block menu %}
	{% include "::menu.html.twig" %}
	{% block site_menu %}
		<div>

		</div>
	{% endblock %}
{% endblock %}
{% block body %}
	{% include "TrivagoHackathonBundle:Default:map.html.twig" %}
{% endblock %}